<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo - Tasks</title>

    <%- include('partials/styles.ejs') %>
  </head>
  <body>
    <script>
      let n = Number("<%= n %>"); // counter to move dates
      let m = Number("<%= m %>"); // counter to move lists

      let hidden = false;

      /**
       * Displays more lists from the left
       */
      const minusN = () => {
        n = n - 1;
        window.location.href = `/tasks?n=${n}&m=${m}`;
      };

      /**
       * Displays more lists from the left
       */
      const plusN = () => {
        n = n + 1;
        window.location.href = `/tasks?n=${n}&m=${m}`;
      };

      /**
       * Displays more lists from the left
       * @param { number } listLen - total number of lists
       */
      const minusM = (listLen) => {
        if (listLen >= 5 && m > 0) {
          m = m - 1;
          window.location.href = `/tasks?n=${n}&m=${m}`;
        }
      };

      /**
       * Displays more lists from the right
       * @param { number } listLen - total number of lists
       */
      const plusM = (listLen) => {
        // don't +1 if m is more than list length - 5
        // because we are displaying 5 lists at a time
        if (listLen >= 5 && m < listLen - 5) {
          m = m + 1;
          window.location.href = `/tasks?n=${n}&m=${m}`;
        }
      };

      /**
       * Minimises lists at bottom of page.
       */
      const hideProjects = () => {
        const dateContainer = document.getElementById("date-container");
        const hideButton = document.getElementById("hide-button");
        const listTaskRow = document.getElementById("list-task-row");

        if (!hidden) {
          listTaskRow.classList.add("d-none");
          dateContainer.classList.add("container-date-full");
          hideButton.innerHTML = "⬆️";

          hidden = true;
        } else {
          listTaskRow.classList.remove("d-none");
          dateContainer.classList.remove("container-date-full");
          hideButton.innerHTML = "⬇️";

          hidden = false;
        }
      };
    </script>
    <%- include('partials/navbar-logout.ejs') %>

    <!-- big container to store whole page -->
    <div class="container-flex">
      <!-- THIS CONTAINER IS FOR LISTS BY DATE -->
      <div class="container-flex container-date" id="date-container">
        <!-- THIS ROW IS TO DISPLAY DAYS / DATES + BUTTONS TO NAVIGATE -->
        <div class="row">
          <!-- div for left button -->
          <div class="text-center col-1">
            <button class="btn btn-outline-primary" type="button" onclick="minusN()">⬅️</button>
          </div>
          <!-- LOOP 1: create divs for each date that we are showing -->
          <% dates.forEach((date) => { %>
          <div class="col-2">
            <div class="w-100">
              <h4 class="mb-0"><%= date.weekday %></h4>
              <p><%= date.date %></p>
            </div>
          </div>
          <!-- close LOOP 1 -->
          <% }) %>
          <!-- div for right button -->
          <div class="text-center col-1">
            <button class="btn btn-outline-primary" type="button" onclick="plusN()">➡️</button>
          </div>
          <!-- row -->
        </div>

        <!-- THIS ROW IS FOR LIST CONTENTS -->
        <div class="row mb-5">
          <!-- div to make up for left button -->
          <div class="text-center col-1"></div>
          <!-- LOOP 1: create divs for each date that we are showing -->
          <% dates.forEach((date) => { %>
          <div class="col-2">
            <!-- CHECK 1: check for tasks that have a date attached-->
            <% if (dates_tasks.length !== 0) { %>
            <ul class="list-group w-100">
              <!-- LOOP 2: iterate through each task -->
              <% dates_tasks.forEach((task) => { %>
              <!-- CHECK 2: check that the date matches the date on the list -->
              <% if (task.task_date === date.date) { %>
              <!-- CHECK 3: check if the task is completed. -->
              <!-- for completed tasks, render this list style: -->
              <% if (task.task_state === true) { %>
              <li class="list-group-item task-complete">
                <span class="btn-group">
                  <form
                    class=""
                    action="/tasks/<%= task.task_id %>/complete?_method=PUT&n=<%= n %>&m=<%= m %>"
                    method="POST"
                  >
                    <input class="mr-1" type="submit" value="✔️" />
                  </form>
                  <form
                    class=""
                    action="/tasks/<%= task.task_id %>?_method=DELETE&n=<%= n %>&m=<%= m %>"
                    method="POST"
                  >
                    <input class="mr-3" type="submit" value="🗑️" />
                  </form>
                </span>
                <%= task.task %>
              </li>
              <!-- for incomplete tasks, render this list style: -->
              <% } else { %>
              <li class="list-group-item">
                <span class="btn-group">
                  <form
                    class=""
                    action="/tasks/<%= task.task_id %>/complete?_method=PUT&n=<%= n %>&m=<%= m %>"
                    method="POST"
                  >
                    <input class="mr-1" type="submit" name="complete" value="⭕" />
                  </form>
                  <form
                    class=""
                    action="/tasks/<%= task.task_id %>?_method=DELETE&n=<%= n %>&m=<%= m %>"
                    method="POST"
                  >
                    <input class="mr-3" type="submit" name="delete" value="🗑️" />
                  </form>
                </span>
                <%= task.task %>
              </li>
              <!-- close CHECK 3 -->
              <% } %>
              <!-- close CHECK 2 -->
              <% } %>
              <!-- close LOOP 2 -->
              <% }) %>
            </ul>
            <!-- close CHECK 1 -->
            <% } %>
            <form
              class="w-100"
              action="/tasks/<%= date.date %>?n=<%= n %>&m=<%= m %>"
              method="POST"
            >
              <input
                class="list-group-item form-control py-4"
                type="text"
                id="todo"
                name="todo"
                placeholder=""
              />
            </form>
            <!-- col -->
          </div>
          <!-- close LOOP 1 -->
          <% }) %>
          <!-- div for right button -->
          <div class="text-center col-1"></div>
          <!-- row -->
        </div>
        <!-- container (lists by date) -->
      </div>
      <hr />

      <!-- THIS CONTAINER IS FOR THE OTHER LISTS -->
      <div class="container-flex">
        <!-- THIS ROW CONTAINS LIST NAMES + BUTTONS FOR NAVIGATING / ADDING NEW LISTS -->
        <div class="row my-3" id="list-name-row">
          <!-- div for left button -->
          <div class="text-center col-1">
            <button
              class="btn btn-outline-primary"
              id="hide-button"
              type="button"
              onclick="hideProjects()"
            >
              ⬇️
            </button>
          </div>
          <!-- create variable o=5 to be updated according to number of sub lists -->
          <% let o = 5; %>
          <!-- if there are less than 5 lists -->
          <% if (lists.length < 5) { %>
          <!-- o should be the number of lists,  -->
          <!-- so that we don't try to show more lists than there are -->
          <% o = lists.length; %> <% } %>
          <!-- LOOP 1: create divs for each list that we are showing -->
          <% for (let i = m; i < m + o; i += 1) { %>
          <div class="col-2">
            <span class="btn-group">
              <form class="" action="/list/edit/<%= lists[i].list_id %>" method="GET">
                <input class="mr-2" type="submit" value="✏️" />
              </form>
              <h5><%= lists[i].list_name %></h5>
            </span>
          </div>
          <!-- close LOOP 1 -->
          <% } %>
          <!-- CHECK 1: if number of lists is less than 5 -->
          <% if (lists.length < 5) { %>
          <!-- LOOP 2: fill up the remaining number of columns -->
          <% for (let i = 0; i < 5 - lists.length; i += 1) { %>
          <div class="col-2"></div>
          <!-- close LOOP 2 -->
          <% } %>
          <!-- close CHECK 1 -->
          <% } %>
          <!-- div for new list button -->
          <div class="text-center col-1">
            <button
              class="btn btn-outline-primary"
              type="button"
              onclick="window.location.href='/list/create'"
            >
              ➕
            </button>
          </div>
          <!-- close row -->
        </div>

        <!-- THIS ROW IS FOR THE LIST CONTENTS -->
        <div class="row" id="list-task-row">
          <!-- div for left button -->
          <div class="text-center col-1">
            <button
              class="btn btn-outline-primary"
              type="button"
              onclick="minusM(<%= lists.length %>)"
            >
              ⬅️
            </button>
          </div>
          <!-- LOOP 1: create divs for each list that we are showing -->
          <% for (let i = m; i < m + o; i += 1) { %>
          <div class="col-2">
            <!-- CHECK 1: check for tasks that belong to a list -->
            <% if (lists_tasks.length !== 0) { %>
            <ul class="list-group w-100">
              <!-- LOOP 2: iterate through each task -->
              <% lists_tasks.forEach((task) => { %>
              <!-- CHECK 2: check if the task belongs to the current list -->
              <% if (task.list_id === lists[i].list_id) { %>
              <!-- CHECK 3: check if the task is completed. -->
              <!-- for completed tasks, render this list style: -->
              <% if (task.task_state === true) { %>
              <li class="list-group-item task-complete">
                <span class="btn-group">
                  <form
                    class=""
                    action="/tasks/<%= task.task_id %>/complete?_method=PUT&n=<%= n %>&m=<%= m %>"
                    method="POST"
                  >
                    <input class="mr-1" type="submit" value="✔️" />
                  </form>
                  <form
                    class=""
                    action="/tasks/<%= task.task_id %>?_method=DELETE&n=<%= n %>&m=<%= m %>"
                    method="POST"
                  >
                    <input class="mr-3" type="submit" value="🗑️" />
                  </form>
                </span>
                <%= task.task %>
              </li>
              <!-- for incomplete tasks, render this list style: -->
              <% } else { %>
              <li class="list-group-item">
                <span class="btn-group">
                  <form
                    class=""
                    action="/tasks/<%= task.task_id %>/complete?_method=PUT&n=<%= n %>&m=<%= m %>"
                    method="POST"
                  >
                    <input class="mr-1" type="submit" name="complete" value="⭕" />
                  </form>
                  <form
                    class=""
                    action="/tasks/<%= task.task_id %>?_method=DELETE&n=<%= n %>&m=<%= m %>"
                    method="POST"
                  >
                    <input class="mr-3" type="submit" name="delete" value="🗑️" />
                  </form>
                </span>
                <%= task.task %>
              </li>
              <!-- close CHECK 3 -->
              <% } %>
              <!-- close CHECK 2 -->
              <% } %>
              <!-- close LOOP 2 -->
              <% }) %>
            </ul>
            <!-- close CHECK 1 -->
            <% } %>
            <form
              class="w-100"
              action="/tasks/<%= lists[i].list_id %>?n=<%= n %>&m=<%= m %>"
              method="POST"
            >
              <input
                class="list-group-item form-control py-4"
                type="text"
                id="todo"
                name="todo"
                placeholder=""
              />
            </form>
            <!-- col -->
          </div>
          <!-- close LOOP 1 -->
          <% } %>
          <!-- CHECK 4: if number of lists is less than 5 -->
          <% if (lists.length < 5) { %>
          <!-- LOOP 3: fill up the remaining number of columns -->
          <% for (let i = 0; i < 5 - lists.length; i += 1) { %>
          <div class="col-2"></div>
          <!-- close LOOP 3 -->
          <% } %>
          <!-- close CHECK 4 -->
          <% } %>
          <!-- div for right button -->
          <div class="text-center col-1">
            <button
              class="btn btn-outline-primary mb-1"
              type="button"
              onclick="plusM(<%= lists.length %>)"
            >
              ➡️
            </button>
          </div>
          <!-- row -->
        </div>
        <!-- container (lists by name) -->
      </div>
      <!-- container -->
    </div>
    <%- include('partials/scripts.ejs') %>
  </body>
</html>
